body{
    margin: 0px;
  }
  .container
  {
    background-color: #D6E4E5;
    height: 745px;
    margin: 0px;
  }
  .img
  {
    width: 240px;
    height: 240px;
    border: 5px solid #555;
    border-radius: 50%;
    margin-left: 30px;
    transition: transform .2s;
  }
  
  .img:hover {
    transform: scale(1.25);
  }
  
  
  
  
  .buttons{
    margin-top: 15px;
    margin-left: 30px;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 39px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .buttons:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  .popup1
  {
    background-color: #434242;
    height: 200px;
    width: 600px;
    position: absolute;
    border: 5px solid black;
    visibility: hidden;
  }
  .popup_para
  {
    font-size: 30px;
    font-family: monospace;
  
    margin-left: 100px;
  }
  .common {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .common:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
  }
  .open-popup{
    visibility: visible;
  }
  .popup1 a{
    text-decoration: none;
  }
  